In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

data=pd.read_csv("covid19_tweets.csv") 
data.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,·èâ·é•‚òª’¨ÍÇÖœÆ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False

In [3]:
#Cantidad de usarios
print("Cantidad de usuarios:")
print(len(data.index))
#Variables
print("Variables:")
print(data.columns.values)
#Tipo de variables
print("Tipo de variables:")
data.dtypes

Cantidad de usuarios:
74436
Variables:
['user_name' 'user_location' 'user_description' 'user_created'
 'user_followers' 'user_friends' 'user_favourites' 'user_verified' 'date'
 'text' 'hashtags' 'source' 'is_retweet']
Tipo de variables:

user_name           object
user_location       object
user_description    object
user_created        object
user_followers       int64
user_friends         int64
user_favourites      int64
user_verified         bool
date                object
text                object
hashtags            object
source              object
is_retweet            bool
dtype: object

In [4]:
data_num= data[["user_followers","user_friends","user_favourites"]]
data_num.head()

   user_followers  user_friends  user_favourites
0             624           950            18775
1            2253          1677               24
2            9275          9525             7254
3             197           987             1488
4          101009           168              101

In [5]:
data_num.describe()

       user_followers   user_friends  user_favourites
count    7.443600e+04   74436.000000     7.443600e+04
mean     1.059513e+05    2154.721170     1.529747e+04
std      8.222900e+05    9365.587474     4.668971e+04
min      0.000000e+00       0.000000     0.000000e+00
25%      1.660000e+02     153.000000     2.200000e+02
50%      9.600000e+02     552.000000     1.927000e+03
75%      5.148000e+03    1780.250000     1.014800e+04
max      1.389284e+07  497363.000000     2.047197e+06

In [6]:
data.sort_values(['user_followers'], ascending = False).head(10)

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
6959,CGTN,"Beijing, China",#SeeTheDifference with CGTN as we bring you st...,2013-01-24 03:18:59,13892841,69,104,True,2020-07-25 08:00:00,#VoicesfromBeltandRoad: #COVID19 rap song aler...,"['VoicesfromBeltandRoad', 'COVID19']",Twitter Media Studio,False
13450,CGTN,"Beijing, China",#SeeTheDifference with CGTN as we bring you st...,2013-01-24 03:18:59,13892839,69,104,True,2020-07-25 02:43:57,#China's civil aviation recovers as daily flig...,['China'],Twitter Web App,False
16194,CGTN,"Beijing, China",#SeeTheDifference with CGTN as we bring you st...,2013-01-24 03:18:59,13892837,69,104,True,2020-07-25 00:27:38,"On Friday, the #Chinese mainland reported:\n¬†\...","['Chinese', 'Xinjiang']",Twitter Web App,False
235,CGTN,"Beijing, China",#SeeTheDifference with CGTN as we bring you st...,2013-01-24 03:18:59,13892795,69,104,True,2020-07-25 12:20:00,#APEC reaffirms #COVID19 economic recovery pri...,"['APEC', 'COVID19']",TweetDeck,False
2837,CGTN,"Beijing, China",#SeeTheDifference with CGTN as we bring you st...,2013-01-24 03:18:59,13892793,69,104,True,2020-07-25 10:46:35,#COVID19 recovery can take weeks even for youn...,['COVID19'],Twitter Web App,False
5344,CGTN,"Beijing, China",#SeeTheDifference with CGTN as we bring you st...,2013-01-24 03:18:59,13892792,69,104,True,2020-07-25 09:03:28,#HongKong reports 133 new confirmed #COVID19 c...,"['HongKong', 'COVID19']",Twitter Web App,False
20483,CGTN,"Beijing, China",#SeeTheDifference with CGTN as we bring you st...,2013-01-24 03:18:59,13892212,69,104,True,2020-07-26 06:40:00,#COVID19 #HongKong SAR government introduces n...,"['COVID19', 'HongKong']",TweetDeck,False
20378,CGTN,"Beijing, China",#SeeTheDifference with CGTN as we bring you st...,2013-01-24 03:18:59,13892212,69,104,True,2020-07-26 06:46:36,Global #COVID19 cases have surpassed 16 millio...,['COVID19'],Twitter Web App,False
24243,CGTN,"Beijing, China",#SeeTheDifference with CGTN as we bring you st...,2013-01-24 03:18:59,13892212,69,104,True,2020-07-26 02:31:57,Live: Students and recent grads from China and...,"['coronavirus', 'COVID19']",Periscope,False
23721,CGTN,"Beijing, China",#SeeTheDifference with CGTN as we bring you st...,2013-01-24 03:18:59,13892212,69,104,True,2020-07-26 03:04:23,"#DPRK sees 1st suspected #COVID19 case, adopts...","['DPRK', 'COVID19']",Twitter Web App,False

In [7]:
d1=data.groupby("user_name").count()
#d1=SeriesGroupBy.value_counts(data, sort=True, ascending=False)
mayores= d1[["user_name","user_followers"]]
mayores.head(10)
#users = pd.Series(data["user_name"])
#users.head()

KeyError: "['user_name'] not in index"

In [ ]:
d1=data.sort_values(['user_followers'], ascending = False).groupby("user_name").head(10)
mayores= d1[["user_name","user_followers"]]
mayores.boxplot()